body{
    background-color: #E7E7E7!important;
}
a{
    text-decoration: none;
}
.logo{
    width: 8rem;
}
.nav{
    background-color: #4A4F55;
    padding: 0px !important;
}
.nav-brand{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6%;
    background-color: #EA8300;
}
.nav-item{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.container{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    max-width: 90% !important;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    width: 99.5%;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    display: flex;
    align-items: stretch;
}
.bgOrange{
    background-color: #EA8300;
    color: #FFFFFF;
}
.bgGrey{
    background-color: #E7E7E7;
    color: #4A4F55;
}
.machine{
    width: 79%;
    font-size: 5rem;
}
.good{
    padding: 0% !important;
    margin-left: 0.3125rem;
    width: 20%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-good{
    height: 35%;
    width: 100%;
}
.count-good{
    height: 65%;
    width: 100%;
    font-size: 4rem;
}
.gaugeTitle{
    width: 14rem;
}
.gauge{
    width: 300px !important;
    height: 300px !important;
}
.section-title{
    height: 35%;
    width: 99.5%;
    margin-bottom: 2rem;
}
.margin-bottom{
    margin-bottom: 4rem;
}
